.shopcart-page{
 padding:20px;
 background:#f5f7fb;
 color: black;
 min-height:100vh;
}

.shopcart-item{
 background:white;
 padding:12px;
 border-radius:12px;
 display:flex;
 gap:12px;
 margin-bottom:10px;
 box-shadow:0 4px 12px rgba(0,0,0,.12);
}

.shopcart-item img{
 width:70px;
 height:70px;
 object-fit:cover;
 border-radius:10px;
}

.qty{
 display:flex;
 gap:8px;
 align-items:center;
}

.qty button{
 width:26px;
 height:26px;
}

.checkout-btn{
 width:100%;
 margin-top:14px;
 background:#22c55e;
 color:white;
 border:none;
 padding:12px;
 border-radius:10px;
 font-size:16px;
 font-weight:700;
}
